<link rel="stylesheet" href="/css/home.css">
<div id = "home-container">
    <% if(locals.user){%>
        <a href="/">Detail View</a>
        <a href="/habits/weekview">Week View</a>
        <div id="form-container">
            <form id="add-habit-form" action="/habits/create" method="POST">
                <input type="text" name="habitName" placeholder="Write a habit." required>
                <input type="submit" id="add-btn" name="add-button" value="Add">
            </form>
            <button id="del-btn" name="delete-button">Delete</button>
        </div>
        <div id="habit-container">
            <%for (habit of habits){%>
                <div class="habit-card" style="display:flex;align-items: center;">
                    <a class="delete-habit-button" href="habits/delete/<%=habit._id%>">X</a>
                    <p><%=habit.name%></p>
                </div>
            <%}%>
        </div>
    <%}else{%>
        <p>Sign in to continue.</p>
    <%}%>
</div>
<script src="/js/home_habits.js"></script>

